body {
    background-color: rgb(238, 238, 238);
}


.Form_Container {
    border: 2px solid rgb(245, 149, 71);
    border-radius: 10px;
    width: 25%;
    margin: auto;
    margin-top: 12%;
    text-align: center;
    font-family: "Roboto Condensed", sans-serif;
    background-color: white;
    box-shadow: 10px 5px 5px rgb(179, 179, 179);

    a {
        text-decoration: none;
        color: orangered;
    }

    form {
        margin: auto;
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;

        button {
            width: 50%;
            color: white;
            padding: 10px;
            width: 60%;
            border: none;
            border-radius: 8px;
            background: rgb(200,69,57);
            background: linear-gradient(90deg, rgba(200,69,57,1) 0%, rgba(240,85,14,1) 46%, rgba(244,150,62,1) 88%);
        }

        button:hover {
            cursor: pointer;
        }

        input {
            width: 90%;
            padding: 10px;
            border: 1.5px solid orangered;
            border-radius: 7px;
            outline: none;
        }
    }
}