div {
    margin: auto;
    margin-top: 5%;
    width: 70%;
    text-align: center;
    padding-bottom: 20px;
    box-shadow: 4px 4px 7px gainsboro;

    h1 {
        font-family: 'Quicksand', sans-serif;
    }

    article {
        margin: auto;
        text-align: left;
        width: 90%;
        font-family: 'Raleway', sans-serif;
    }
}